*{
    padding:0%;
    margin: 0;
    box-sizing: border-box;
    font-family: Hacen Tunisia Bold;
}
body,html{
    overflow-x: hidden;

}
header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    width: 100% ;
    height: 60px;
}
.parts{
    display: flex;
    gap: 40px;
}
.parts a{
    text-decoration: none;
    color: #929ecc;
    position: relative;
}
.hbtn{
    border-radius: 5px;
    border: solid 3px #9841e2;
    cursor: pointer;
    padding: 6px 15px;
    font-size: 15px;
    text-decoration: none;
    color: #9841e2;
    font-weight: 600;
}
.hbtn:hover {
    color: white;
    background: #9841e2;
}
.carousel{
    height: 100vh;
    display: flex;
    gap: 150px;
    background-color: black;
    position: relative;
    align-items: center;
    justify-content: center;
}
.carouselimg{
    margin-left: 50px;
}
.carouseldesc{
    color: white;
}
.carouseldesc h1{
    color: #9841e2;
    font-weight: 400;
    font-size: 60px;
}
.span1{
    font-weight: 400;
    font-size: 60px;
    margin-top: 60px;
    transform: translateX(-18%);
    text-align: end;
}
.span2{
    display: flex;
    align-items: center;
    background-color: #1e1e1e;
    font-size: 25px;
    font-weight: 400;
    border-radius: 15px;
    padding: 10px 10px;
    margin-top: 60px;
    width: 87%;
    transform: translateX(-6%);
} 
.span2 img{
    padding-left: 20px;
}






.div20{
    background-color: black;
}
.div2{
    background-image: url(img/big\ box\ 1.png) ;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px  ;
    overflow: hidden;
}
.div2 h1{
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
}
.div21 p{
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 100px;
}
.div21 a{
    color: black;
    background-color: white;
    padding: 10px 19px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 50px;
}
.div21 a:hover{
    background-color: black;
    color: white;
}


.swiper{
    width: 980px;
    margin-top: -120px;
    height: 70vh;
}
.swiper-wrapper{
    display: flex;
    gap: 20px;
}
.swiper-slide{
    background-color: #1e1e1e;
    color: #ffffff;
    border-radius: 30px;
    padding: 30px;
    max-width: 280px;
    height: 395px;
}
.card-title{
    padding-top: 50px;
}
.card-disc{
    font-size: 20px;
    padding-top: 50px;
}


.div3{
    background-color: black;
    background-image: url(img/Ellipse\ 16.png);
    background-repeat: no-repeat;
    background-position: center;
}
.title{
    color: #ffffff; 
    font-weight: 400;
    font-size: 60px;
    padding-left: 100px;
    padding-top: 50px;
}
.fees6{
    font-size: 20px;
    background-color: #C0C0C0 ;
    padding: 5px 5px;
    border-radius: 10px;
}
.fees4 {
    font-size: 20px;
    background-color: #A67C00 ;
    padding: 5px 5px;
    border-radius: 10px;
}
.services-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.services-paln{
    flex: 1;
    background:rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    max-width: 378px;
    height: 465px;
    text-align: center;
    padding: 10px;
}
.plan-icon{
    color: #ffffff;
    font-weight: 400;
    font-size: 40px;
    padding-top: 20px;
}
.plan-title{
    font-weight: 600;
    font-size: 90px;
    color: #ffffff;
    padding-top: 10px;
}
.plan-disc{
    font-size: 25px;
    color: #fff;
    padding-top: 30px;
    display: block;
    text-align: start;
}
.plan-off{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}
.services-paln:hover{
    transform: scale(1.1);
}
#mys{
    padding-top: 70px;
}


.remember{
    background-color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.intremember{
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    width: max-content;
}
.intremember p{
    font-size: 25px;
    font-weight: 400;
    text-align: center;
}

.faq{
    height: 230vh;
    background-color: black;
    color: #ffffff;
    text-align: end;
    padding-top: 30px;
    background-image: url(img/Ellipse\ 16.png);
    background-repeat: no-repeat;
    background-position: -200px 400px;
}
.items h1{
    font-size: 70px;
    font-weight: 400;
    padding-right: 150px;
    padding-top: 20px;
}

.qst1 h1{
    font-size: 38px;
    font-weight: 700;
}
.qst1 p{
    font-size: 30px;
    color: #969090;
    margin-right: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}
hr{
    width: 72%;
    position: absolute;
    left: 16%;
}
.items img{
    padding-right: 110px ;
}
.qst1 img{
    padding-right: 600px;
}







footer{
    background-color: black;
    background-image: url(img/Untitled_design.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 25px;
}
footer a{
    color: black;
    font-weight: 600;

}
.icons{
    text-align: center;
    margin-top: -5%;
    padding-bottom: 20px;
}
.icons a{
    padding: 20px;
}
.icons img:hover{
    transform: scale(1.1);
}
.dznova{
    text-align: center;
    padding-bottom: 20px;
}
.dznova img{
    margin-top: -50px;
}




.last{
    display: flex;
    justify-content: center;
}
.last img{
    position: absolute;
    right: 10%;
}






@media (max-width : 767px) {
    header{
        justify-content: center;
    }
    .parts{
        display: none;
    }
    .hbtn{
        display: none;
    }
    .carousel{
        height: 100%;
        display: grid;
        gap: 10px;
    }
    .carousel img{
        max-width: 300px;
        justify-content: center;
    }
    .carouseldesc{
        color: white;
    }
    .carouseldesc h1{
        font-size: 35px;
        text-align: end;
        transform: translateX(-10%);
    }
    .span1{
        font-size: 25px;
        margin-top: 30px;
        transform: translateX(-10%);
    }
    .span2{
        font-size: 15px;
        margin-top: 20px;
        width: 80%;
        transform: translateX(12%);
        text-align: end;
    } 
    .span2 img{
        padding-left: 5%;
    }

    .div2{
        background-image: url(img/Big\ box.png) ;
        margin-top: -70px;
        height: 100vh;
        width: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        gap: 0px;

    }
    .div2 h1{
        font-size: 40px;
        padding-top: 160px;
        padding-right: 120px;
    }
    .div21 p{
        display: none;
    }
    .div21 a{
        display: none;
    }
    .div21 a:hover{
        background-color: black;
        color: white;
    }
    
    .first{
        display: grid;
        margin-top: -300px;
    }
    .card{
        max-width: 280px;
        padding: 10px;
    }
    .card h1{
        padding-top: 50px;
    }
    .card p{
        display: none;
        padding-top: 10px;
    }

    .title{
        font-size: 30px;
        padding-bottom: 100px;
        text-align: center;
        padding-left: 0px;
    }
    .span3{
        font-size: 20px;
    }
    .services-container{
        height: 100%;
        display: grid;
    }
    .services-paln{
        max-width: 280px;
    }
    .plan-icon{
        font-size: 40px;
    }
    .plan-title{
        font-size: 60px;
    }
    .plan-disc{
        font-size: 23px;
    }



    .remember{
        padding: 20px;
        padding-top: 40px;
    }
    .remember img{
        display: none;
    }
    .intremember p{
        font-size: 20px;
    }


    .faq{
        background-position: -300px -150px;
        height: 180vh;
    }
    .items h1{
        font-size: 50px;
        padding-right: 30px;
    }
    
    .qst1 h1{
        font-size: 20px;
    }
    .qst1 p{
        font-size: 15px;
        color: #969090;
        margin-right: 30px;
    }
    hr{
        width: 88%;
        position: absolute;
        left:4%;
    }
    .items img{
        padding-right: 30px ;
    }
    .qst1 img{
        padding-right: 60px;
    }
    footer a{
        color: black;
        font-weight: 600;
    }
    footer p{
        font-size: 15px;
    }
    .last img{
        right: 2%;
        width: 20px;
    }
}